footer {
		display:flex;
		flex-direction:column;
		width:100vw;
		height:auto;
		justify-content:center;
		align-items:center;
		font-size:18px;
		color:#FFFFFF;
		background-color:#392DA3;
	}
		footer p {margin-bottom:0;}
		
		ul.footer_links {
			display:inline-flex;
			list-style:none;
		}
			
			ul.footer_links li {margin:0; padding:0 15px 0 15px;}
			ul.footer_links li:not(:last-child) {margin:auto; text-align:center; border-right:2px Solid #696969;}
			ul.footer_links li a {color:#FFFFFF;}
			ul.footer_links li a:hover {text-decoration:none;}