body {display:inline-flex; margin:0; font-family: 'Source Sans Pro', sans-serif; overflow-x:hidden;}

.background_transitions {
	-moz-transition:background-color .2s ease-in-out;
	-webkit-transition:background-color .2s ease-in-out;
	-ms-transition:background-color .2s ease-in-out;
	transition:background-color .2s ease-in-out;
}

.color_transitions {
	-moz-transition:color .2s ease-in-out;
	-webkit-transition:color .2s ease-in-out;
	-ms-transition:color .2s ease-in-out;
	transition:color .2s ease-in-out;
}

/*** Peripheral wrapper ***/
section#peripheral_wrapper {
	display:flex;
	flex-direction:column;
	width:25vw;
	height:100vh;
	align-items:center;
}

	.profilesheet {
		position:fixed;
		width:19%;
		height:auto;
		margin-top:90px;
		border:1px solid #C6C6C6;
		border-radius:5px;
		box-sizing:border-box;
		box-shadow:1px 1px 12px #aaa;
		background-color:#FFFFFF;
	}
	
		.username {display:inline-flex; border-bottom:1px solid #A5A5A5;}		
			.avatar {display:inline-flex; width:75px; height:75px; justify-content:center; align-items:center;}
				.fa-user-circle {font-size:48px;}
			.name {display:inline-flex; width:179px; justify-content:center; align-items:center;}		
		.current_job {text-align:center; font-size:12px; border-bottom:1px solid #A5A5A5; color:#696969;}
		.contacts {text-align:center; font-size:20px; padding:15px; border-bottom:1px solid #A5A5A5; box-sizing:border-box; color:#333333;}
		.profile {text-align:center; font-size:20px; padding:15px; border-bottom:1px solid #A5A5A5; box-sizing:border-box;}
			a.profile_gateway {text-decoration:none; color:#68ACD1;}
			a.profile_gateway:hover {color:#2994CE;}
		.copyright {text-align:center; font-size:14px; padding:15px; box-sizing:border-box; background-color:#F0F0F0;}
		
section#main_wrapper {
	width:75vw;
	height:auto;
	align-items:center;
}

	#actions {
		display:inline-flex;
		width:35%;
		height:auto;
		margin-top:90px;
		justify-content:space-between;
	}
	
		#actions a {text-decoration:none; font-size:18px; color:#FFFFFF;}
		
		.btn_post, .btn_application {width:100%; height:auto; text-align:center; padding:15px; box-sizing:border-box; border-radius:5px;}
		.btn_post {background-color:#68ACD1;}
		.btn_application {background-color:#ECACD1;}
		.btn_post:hover {background-color:#2994CE;}
		.btn_application:hover {background-color:#E194CE;}
		
	.post {
		display:inline-flex;
		width:90%;
		height:auto;
		margin-top:15px;
		border:1px solid #C6C6C6;
		border-radius:5px;
		box-shadow:1px 1px 12px #aaa;
		background-color:#FFFFFF;
	}
		
		.post_author {
			display:inline-flex;
			width:20%;
			height:auto;
			justify-content:space-around;
			padding:15px;
			font-weight:bold;
			box-sizing:border-box;
			border-right:1px solid #A5A5A5;
		}
		
		.post_content {
			margin:auto 15px auto 15px;
		}
