html {scroll-behavior: smooth;}

body {
	margin:0;
	font-family: 'Source Sans Pro', sans-serif;
	background-image:-moz-linear-gradient(30deg, #BE34BC, #392DA3);
	background-image:-webkit-linear-gradient(30deg, #BE34BC, #392DA3);
	background-image:-o-linear-gradient(30deg, #BE34BC, #392DA3);
	background-image:linear-gradient(60deg, #BE34BC, #392DA3);
	overflow-y:hidden;
}

h1 {margin-top:0.5em; margin-bottom:0.1em; font-size:48px; font-weight:normal;}
h2.connexion, h2.register {font-size:40px; font-weight:normal; color:#FFFFFF;}
h2.connexion {margin-top:100px;}
h2.register {margin-top:20px;}
h4 {font-size:28px; font-weight:normal; margin-top:0.1em;}

/*** Main ***/
.transitions {
	-moz-transition:background-color .2s ease-in-out;
	-webkit-transition:background-color .2s ease-in-out;
	-ms-transition:background-color .2s ease-in-out;
	transition:background-color .2s ease-in-out;
}

/*** Intro ***/
section#intro, section#connexion, section#register {
	flex-direction:column;
	align-items:center;
	justify-content:center;
	width:100vw;
	height:100vh;
	text-align:center;
	margin:auto;
	color:#FFFFFF;
}

section#connexion {display:none;}
section#intro, section#register {display:flex;}

	.studient_register {
		display:inline-flex;
		width:85%;
		height:auto;
		margin-bottom:50px; 
		justify-content:space-around;
	}
	
	p.type {font-size:18px;}
	p.subtitle {margin-top:0.1em; font-size:20px; color:#E2E2E2;}

	#actions {
		display:inline-flex;
		width:40%;
		justify-content:space-around;
		margin-top:30px;
	}

		.btn {
			display:inline-flex;
			width:45%;
			height:35px;
			justify-content:center;
			align-items:center;
			font-size:20px;
			border:1px solid #FFFFFF;
			border-radius:10px;
			box-sizing:border-box;
			cursor:pointer;
		}
		
		.btn:hover {color:#392DA3; background-color:#FFFFFF;}

		a.intro_actions {
			text-decoration:none;
			color:#FFFFFF;
		}

/*** Connexion ***/
	input[type=text], input[type=mail], input[type=password] {
		width:35vw;
		height:35px;
		border:none;
		border-radius:10px;
		margin-bottom:20px;
		padding:20px;
		box-sizing:border-box;
		font-size:16px;
		font-style:italic;
	}
	
	input[type=submit] {color:#FFFFFF; background-color:transparent;}
	
	.font_size {box-sizing:border-box; font-size:20px;}
	
	p#connexionErrorMsg, p#registerErrorMsg, p#passError {display:none; font-size:20px; margin:0.1em; color:red;}
	p#validMsg {display:none; font-size:20px; font-weight:bold; color:green;}