body {display:flex; flex-direction:column; margin:0; font-family: 'Source Sans Pro', sans-serif; overflow-x:hidden;}
h2 {font-size:26px; padding:5px; color:#FFFFFF;}
.transitions {-moz-transition:color .2s ease-in-out; -webkit-transition:color .2s ease-in-out; -ms-transition:color .2s ease-in-out; transition:color .2s ease-in-out;}
#global_wrapper {display:inline-flex; width:100vw; height:auto;}

section#peripheral_wrapper {
	display:flex;
	flex-direction:column;
	width:25vw;
	height:100vh;
	align-items:center;
}

	.profilesheet {
		position:fixed;
		width:19%;
		height:auto;
		margin-top:90px;
		border:1px solid #C6C6C6;
		border-radius:5px;
		box-sizing:border-box;
		box-shadow:1px 1px 12px #aaa;
		background-color:#FFFFFF;
	}
	
		.username {display:inline-flex; border-bottom:1px solid #A5A5A5;}		
			.avatar {display:inline-flex; width:75px; height:75px; justify-content:center; align-items:center;}
				.fa-user-circle {font-size:48px;}
			.name {display:inline-flex; width:179px; justify-content:center; align-items:center;}		
		.current_job {text-align:center; font-size:12px; border-bottom:1px solid #A5A5A5; color:#696969;}
		.contacts {text-align:center; font-size:20px; padding:15px; border-bottom:1px solid #A5A5A5; box-sizing:border-box; color:#333333;}
		.copyright {text-align:center; font-size:14px; padding:15px; box-sizing:border-box; background-color:#F0F0F0;}
	
section#main_wrapper {
	display:grid;
	grid-template-columns:auto auto;
	width:40vw;
	height:80vh;
	margin-top:90px;
}
	
	a.infos {
		display:inline-flex;
		justify-content:center;
		align-items:center;
		margin:0 15px 30px 15px;
		font-size:26px;
		border-radius:10px;
		text-decoration:none;
		color:#FFFFFF;
		cursor:pointer;
	}
	
	.bluebox {background-color:#392DA3;}
	.bluebox:hover {background-color:#68ACD1;}
	.pinkbox {background-color:#BE34BC;}
	.pinkbox:hover {background-color:#E194CE;}
	
	/*** Modal Box ***/
	.modal_box {display:none; width:100%; height:100%; position:fixed; left:0; top:0; padding-top:100px; overflow:auto; background-color:rgb(0,0,0); background-color:rgba(0,0,0,0.4); z-index:3;}
	.modal_box_content {width:800px; position:relative; margin:auto; padding:0; outline:0; text-align:center; background-color:#FFFFFF;}
	.box_container {padding-top:-10px; padding-left:15px; padding-right:15px; text-align:center; color:#000000;}
	.box_button {display:inline-block; width:30px; height:30px; vertical-align:middle; overflow:hidden; text-decoration:none; text-align:center; white-space:nowrap; border:none; cursor:pointer; color:inherit;}
	.box_button {-webkit-touch-callout:none; -webkit-user-select:none; -khtml-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none;}
	.box_display_topright {width:30px; height:30px; position:absolute; top:0; right:0;}
	.box_animate_top {position:relative; animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
	.box_card4 {box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
	.picture{width:40px; height:auto; margin-top:-7px;}
	.box_button {background-color:inherit;}
	.modal_footer {height:20px;}
	#box_color, #box-hover-color:hover {color:#FFFFFF!important; background-color:#392DA3!important;}

		p.background_timeline {font-size:22px; font-weight:bold; margin-bottom:0.1em; color:#333333;}
		p.studies {margin-top:0.1em; color:#696969;}
		
		p.classinfo {
			font-size:22px;
		}
			